// Utilisation des variables et mixins depuis d'autres fichiers
@use "variables" as *;
@use "mixins" as *;

//style pour la page de l'administrateur
.adminPanel{
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    @media (min-width: 1024px) {
        flex-direction: row;

      }
    article{
      @include custom-box-shadow(0.2rem, 0.2rem, 1rem, $color-dark);
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width:80%;
    margin: 0 auto;
    @media (min-width: 768px) {
        width:50%;
      }
      @media (min-width: 1024px) {
        margin: 0 10rem;
      }
    }
    button {
      width:80%;
      margin: 0 auto;
      margin-bottom: 3rem;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: $color-dark;
      color: $color-light;
      font-weight: bold;
      text-transform: uppercase;
      border: 0;
      @include custom-box-shadow(0.2rem, 0.2rem, 1rem, $color-dark);
      font-size: 1.6rem;
      font-family: $domine;
      @media (min-width: 768px) {
        width:50%;
      }
      @media (min-width: 1024px) {
        width: 40%;
      }
  }
    h2{
        width: 100%;
    }
    form{
        @media (min-width: 1024px) {
            width: 45%;
          }
        select{
            margin-bottom: 1rem;
            border-radius: 0.5rem;
            padding: 0.3rem;
            font-family: $domine; 
        }
    }
}