@use "variables" as *;
@import "article";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $domine;
  height: 100vh;
  // background-color: $color-light;

  color: $color-dark;
  font-size: 1.6rem;
}

main {
  background: linear-gradient(to top, $color-dark, $color-light);
}

#root {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  min-height: 100vh;
  max-width: 767px;
  
  @media (min-width: 768px) {
    max-width: 1023px;
  }

  @media (min-width: 1024px) {
    max-width: 1600px;
  }
}
a {
  display: inline-block;
  text-decoration: none;
}

p {
  margin-bottom: 10px;
}

h2 {
  text-shadow: 1px 1px 0px $color-dark;
  font-family: $kotta;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

header,
main,
footer {
  flex: 1 0 auto;
}

header,
footer {
  background-color: $color-dark;
  color: $color-light;
  padding: 10px;
  max-height: 140px;
}

header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  text-align: center;


  h1 {
    text-shadow: 1px 1px 0px $color-light;
    color: $color-light;
    font-family: $dancing;
    font-size: 4.8rem;
  }

  div {
    width: 55%;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    img {
      max-height: 8rem;
      display: inline;
      @media (min-width: 768px) {
        max-height: 12rem;
      }
    }
  }
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;

    @media (min-width: 1024px) {
      flex-direction: row;
    }

    a {
      color: $color-light;
      padding: 5px;
      font-family: $kotta;

      @media (min-width: 1024px) {
        padding: 10px;
      }
    }
  }
}

footer {
  padding-top: 20px;
  text-align: center;
  a {
    color: $color-light;
    padding: 5px;
    font-family: $kotta;
  }
  nav a {
    font-size: 3rem;
    padding: 10px;
    margin-top: -5px;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
  padding: 15px;
  background-color: $color-light;
  box-shadow: 2px 2px 10px $color-dark;
  border-radius: 15px;
  color: $color-dark;
  font-family: $domine;
  @media (min-width: 768px) {
    width: 70%;
  }
  @media (min-width: 1024px) {
    width: 50%;
  }
  legend {
      text-align: center;
      font-size: 2.6rem;
      text-transform: uppercase;
      margin-bottom: 15px;
      font-family: $kotta;
  }
  label{
    font-family: $kotta;
    font-size: 2rem;
    padding-bottom: 0.5rem;
  }
  input {
      margin-bottom: 10px;
      border-radius: 5px;
      padding: 3px;
      font-size: 2rem;
      font-family: $domine;
  }
  button[type="submit"] {
      padding: 10px;
      margin-top: 1.5rem;
      border-radius: 5px;
      background-color: $color-dark;
      color: $color-light;
      font-weight: bold;
      text-transform: uppercase;
      border: 0;
      box-shadow: 2px 2px 10px $color-dark;
      font-size: 1.6rem;
      font-family: $domine;
  }
  a {
      display: block;
      width: fit-content;
      margin: 15px auto 0;
      color: $color-dark;
      font-weight: bold;
      font-family: $domine;
      &:hover {
          text-decoration: underline;
      }
  }
}
